%font-smoothing {
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  .isWindowsChrome & {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

%fix-webkit-font-rendering {
  @extend %font-smoothing;
  text-rendering: optimizeLegibility;
}

@mixin breakpoint($point) {
  @if $point == large2000-up {
    @media (min-width: 2000px) {
      @content;
    }
  } @else if $point == large1800-up {
    @media (min-width: 1800px) {
      @content;
    }
  } @else if $point == large1700-up {
    @media (min-width: 1700px) {
      @content;
    }
  } @else if $point == medium1780-down {
    @media (max-width: 1780px) {
      @content;
    }
  } @else if $point == medium1575-down {
    @media (max-width: 1575px) {
      @content;
    }
  } @else if $point == medium1500-up {
    @media (min-width: 1500px) {
      @content;
    }
  } @else if $point == medium1450-down {
    @media (max-width: 1450px) {
      @content;
    }
  } @else if $point == medium1410-down {
    @media (max-width: 1410px) {
      @content;
    }
  } @else if $point == medium1400-down {
    @media (max-width: 1400px) {
      @content;
    }
  } @else if $point == medium1390-down {
    @media (max-width: 1390px) {
      @content;
    }
  } @else if $point == medium1350-down {
    @media (max-width: 1350px) {
      @content;
    }
  } @else if $point == medium1300-down {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if $point == medium1280-down {
    @media (max-width: 1280px) {
      @content;
    }
  } @else if $point == medium1250-down {
    @media (max-width: 1250px) {
      @content;
    }
  } @else if $point == medium1200-down {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == medium1200-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == medium1180-down {
    @media (max-width: 1180px) {
      @content;
    }
  } @else if $point == medium1170-down {
    @media (max-width: 1170px) {
      @content;
    }
  } @else if $point == medium1150-down {
    @media (max-width: 1150px) {
      @content;
    }
  } @else if $point == medium1132-down {
    @media (max-width: 1132px) {
      @content;
    }
  } @else if $point == medium1110-down {
    @media (max-width: 1110px) {
      @content;
    }
  } @else if $point == medium1100-down {
    @media (max-width: 1100px) {
      @content;
    }
  } @else if $point == medium1095-down {
    @media (max-width: 1095px) {
      @content;
    }
  } @else if $point == medium1080-down {
    @media (max-width: 1080px) {
      @content;
    }
  } @else if $point == medium1070-down {
    @media (max-width: 1070px) {
      @content;
    }
  } @else if $point == medium1055-down {
    @media (max-width: 1055px) {
      @content;
    }
  } @else if $point == medium1050-down {
    @media (max-width: 1050px) {
      @content;
    }
  } @else if $point == medium1025-down {
    @media (max-width: 1025px) {
      @content;
    }
  } @else if $point == medium1024-up {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $point == medium1023-down {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $point == medium1000-down {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $point == medium990-down {
    @media (max-width: 990px) {
      @content;
    }
  } @else if $point == medium983-down {
    @media (max-width: 983px) {
      @content;
    }
  } @else if $point == medium970-down {
    @media (max-width: 970px) {
      @content;
    }
  } @else if $point == medium966-down {
    @media (max-width: 966px) {
      @content;
    }
  } @else if $point == medium960-down {
    @media (max-width: 960px) {
      @content;
    }
  } @else if $point == medium950-down {
    @media (max-width: 950px) {
      @content;
    }
  } @else if $point == medium940-down {
    @media (max-width: 940px) {
      @content;
    }
  } @else if $point == medium936-down {
    @media (max-width: 936px) {
      @content;
    }
  } @else if $point == medium910-down {
    @media (max-width: 910px) {
      @content;
    }
  } @else if $point == medium900-down {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $point == medium900-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $point == medium870-down {
    @media (max-width: 870px) {
      @content;
    }
  } @else if $point == medium860-down {
    @media (max-width: 860px) {
      @content;
    }
  } @else if $point == medium810-down {
    @media (max-width: 810px) {
      @content;
    }
  } @else if $point == medium800-up {
    @media (min-width: 801px) {
      @content;
    }
  } @else if $point == medium800-down {
    @media (max-width: 800px) {
      @content;
    }
  } @else if $point == medium767-down {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == medium750-down {
    @media (max-width: 750px) {
      @content;
    }
  } @else if $point == medium700-up {
    @media (min-width: 701px) {
      @content;
    }
  } @else if $point == medium700-down {
    @media (max-width: 700px) {
      @content;
    }
  } @else if $point == medium660-down {
    @media (max-width: 660px) {
      @content;
    }
  } @else if $point == small640-down {
    @media (max-width: 640px) {
      @content;
    }
  } @else if $point == small580-down {
    @media (max-width: 580px) {
      @content;
    }
  } @else if $point == small568-down {
    @media (max-width: 568px) {
      @content;
    }
  } @else if $point == small500-down {
    @media (max-width: 500px) {
      @content;
    }
  } @else if $point == small480-up {
    @media (min-width: 481px) {
      @content;
    }
  } @else if $point == small480-down {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == small400-down {
    @media (max-width: 400px) {
      @content;
    }
  } @else if $point == small385-down {
    @media (max-width: 385px) {
      @content;
    }
  } @else if $point == small380-down {
    @media (max-width: 380px) {
      @content;
    }
  } @else if $point == small374-down {
    @media (max-width: 374px) {
      @content;
    }
  } @else if $point == small370-down {
    @media (max-width: 370px) {
      @content;
    }
  } @else if $point == small360-down {
    @media (max-width: 360px) {
      @content;
    }
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
i,
b,
em,
strong,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: $default-font;
  font-weight: 400;
  //font-style: normal;
  font-size: 16px;
  color: $default-font-color;
  @extend %fix-webkit-font-rendering;
  line-height: normal;
}

body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1,
h2 {
  font-weight: 600;
  @include breakpoint(medium800-down) {
    width: 90%;
  }
}

h1 {
  @include font-size-sass(36px);
  color: $h-font-color;
  text-transform: uppercase;
}

html {
  // Prevent font scaling in landscape while allowing user zoom
  -webkit-text-size-adjust: 100%;
}

p {
  padding: 20px 0;
  @include breakpoint(medium750-down) {
    padding: 15px 0;
  }
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin valign-center {
  font-size: 0;

  & > * {
    @include font-size-sass(16px);
    vertical-align: middle;
    margin: 0;
    display: inline-block;
  }

  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

.valign-center {
  @include valign-center;
}

.container {
  @include breakpoint(medium1200-up) {
    max-width: 1300px;
    width: 94%;
  }
  @include breakpoint(medium1200-down) {
    max-width: 1100px;
  }
}

.fLeft {
  float: left;
  @include breakpoint(medium800-down) {
    float: none;
    display: inline-block;
  }
}
.fRight {
  float: right;
  @include breakpoint(medium800-down) {
    float: none;
    display: inline-block;
  }
}

.inline {
  display: inline-block;
}

hr.short {
  width: 100px;
  border-color: #ab9767;
  border-width: 2px;
}

.semiBold {
  font-weight: 600;
}

.white {
  color: #fff;
}

.hidden {
  display: none;
}

.section-banner {
  max-height: 960px;
  width: 100%;
}

h1,
h2,
h3 {
  color: $h-font-color;
  font-weight: 700;
}

h1,
h2 {
  color: $default-font-color;
}

h2 {
  @include font-size-sass(32px);
  @include breakpoint(medium1150-down) {
    @include font-size-sass(28px);
  }
}

h3 {
  @include font-size-sass(24px);
}

p {
  line-height: 40px;
  @include font-size-sass(16px);
  color: #5f5d5d;
  @include breakpoint(medium1070-down) {
    line-height: 2;
  }
  @include breakpoint(medium800-down) {
    @include font-size-sass(14px);
    line-height: 1.6;
  }
  @include breakpoint(small640-down) {
    line-height: 30px;
     @include font-size-sass(13px);
  }
}

.half {
  width: 50%;
}

.section-2-cols-full-width {
  overflow: hidden;
  display: table;
  width: 100%;
  .table-cell {
    display: table-row;
    @include breakpoint(medium767-down) {
      display: block;
      img {
        width: 100%;
        height: auto;
      }
    }
    /*img {
      width: 100%;
    }*/
  }
  .half {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .inner-container {
    width: 65%;
    text-align: center;
    @include breakpoint(medium1070-down) {
      width: 84%;
      p {
        line-height: 2;
      }
    }
    @include breakpoint(medium800-down) {
      width: 90%;
      p {
        line-height: 1.6;
      }
    }
    a {
      margin-top: 10px;
    }
  }
}

.padding50 {
  padding: 3.125em 0;
  @include breakpoint(medium800-down) {
    padding: 1.625em 0;
  }
}

.textLeft {
  .inner-container {
    text-align: left;
  }
}

a,
a:active,
a:focus,
a:link {
  text-decoration: none;
  color: #053f61;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.banner,
.content-info {
  a {
    color: #fff;
    @include font-size-sass(12.8px);
    &:hover {
      color: #c7a451;
    }
  }
  .phone,
  .copyright {
    color: #fff;
    @include font-size-sass(12.8px);
    margin-left: 2.175em;
  }
}

img {
  width: 100%;
}

section {
  overflow: hidden;
}

.section-tabs {
  .section-tabs-left {
    padding: 1.7rem 0;
    width: 30%;
  }
  .section-content {
    width: 50%;
    margin-bottom: 4rem;
  }
  @include breakpoint(medium1300-down) {
    .section-content {
      width: 65%;
      margin-bottom: 2rem;
    }
  }
  @include breakpoint(medium1200-down) {
    .section-content {
      float: right;
    }
  }
  @include breakpoint(medium1200-down) {
    .section-content {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
    .section-tabs-left {
      //padding: 1.7rem 0;
      width: 100%;
      float: none;
      padding-bottom: 0;
      text-align: center;
      .filter-list-item {
        margin-bottom: 0.5rem;
        display: inline-block;
        &:last-child {
          margin-left: 20px;
        }
        @include breakpoint(small500-down) {
          display: block;
          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.filter-list-item {
  margin-bottom: 2rem;
  &.tab-active {
    text-decoration: underline;
  }
  &:hover {
    cursor: pointer;
  }
  @include breakpoint(medium1000-down) {
    @include font-size-sass(18px);
  }
}

.hasLine {
  position: relative;
  margin-top: 15px;
  &::before,
  &::after {
    content: "";
    background: #353535;
    width: 33%;
    display: block;
    position: absolute;
    height: 1px;
    top: 17px;
    @include breakpoint(medium900-down) {
      width: 24%;
    }
    @include breakpoint(small580-down) {
      width: 18%;
    }
    @include breakpoint(small500-down) {
      width: 16%;
    }
    @include breakpoint(small380-down) {
      top: 14px;
    }
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

.div-table {
  display: table;
  /* table-layout: fixed; */
  width: 100%;
}

.div-table-row {
  display: table-row;
}

.real-estate-div-table-cell {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.ca_property_bg {
  text-align: center;
}

.ca_property_bg:hover > .overlay,
.ca_property_bg:focus > .overlay {
  opacity: 0;
}

.ca_property_bg > .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 100;
  display: block;
}

.real-estate-dept {
  margin: 0 auto;
  display: inline-block;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: solid 1px #fff;
  text-align: center;
  vertical-align: middle;
  position: relative;
  color: #fff;
  z-index: 101;
  font-size: 1.1em;
  font-weight: bold;
  @include breakpoint(small580-down) {
    top: 50%;
    margin-top: -36px;
  }
}

.imgHalf.fRight {
  float: right;
  @include breakpoint(medium767-down) {
    float: none;
    width: 100%;
    display: block;
  }
}

.content.fLeft {
  float: left;
  //width: 100%;
  @include breakpoint(medium767-down) {
    float: none;
    width: 100%;
    display: block;
    padding: 20px 0 10px;
  }
}

.imgHalf.fLeft {
  float: left;
  @include breakpoint(medium767-down) {
    float: none;
    width: 100%;
    display: block;
  }
}

.content.fRight {
  float: right;
  //width: 100%;
  @include breakpoint(medium767-down) {
    float: none;
    width: 100%;
    display: block;
    padding: 20px 0 10px;
  }
}

.padding50 .content.fRight {
  @include breakpoint(medium800-down) {
    width: 100%;
  }
}

.content {
  .inner-container {
    @include breakpoint(small640-down) {
      padding: 20px 0;
      h3 {
        margin-top: 10px;
      }
    }
  }
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu::before {
  content: "\f0c9";
  font-size: 20px;
  color: #fff;
} /* 'ïƒ‰' */

div.wpcf7-mail-sent-ok,
.wpcf7-response-output {
  color: #fff;
  @include font-size-sass(16px);
  padding: 20px 10px;
}
